{% extends 'My_project.html' %}
{% block head %}
{{ super() }}
<style type="text/css"> </style>

{% endblock %}
{% block body %}
{{super()}}
<article id="articl">
<!--<h1 class="tstyle"><strong>Arabic dialect Topic detection</strong></h1> -->
<h3 class="tstyle" id="shad" >A web application to extract the theme </br>from the Arabic sentences in</br> using machine learning classification methods.</h3>
<p class="tstyle" ><a href="/Try_it" target="blank" class="button">Try It!</a></p>
</article>
{% endblock %}
