 <!DOCTYPE html>
<html>
<head>
{% block head %}
	<title>Arabic dialect Topic detection</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" type="image/png" href="static/font.png" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
</head>
<body>
{% block body %}
	<header>
      <h1>Sujet 3</h1>
      <div class="menu">
      	<ul>
        	<li class="menu1" id="acceuil"><a href="/">Acceuil</a></li>
        	<li class="menu1"><a href="#">Les réalisateurs du mini-projet</a></li>
        </ul> 
      </div>
    </header>
 {% endblock %}
</body>
</html>